html,body {
    background-size: cover;
    margin: 0 auto;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ababab;
    background-color: black;
}
#topBar {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    font-size: 22px;
    font-weight: 300;
    height: 45px;
    padding-top: 95px;
    /* color: #007700; */
}
#leftBar {
    text-align: left;
    width: inherit;
    display: inline-flex;
}
.topAnchors{
    text-decoration: none;
     color: #ababab; 
}
.barElements {
    padding-left: 50px;
}
#rightBar {
    text-align: right;
}
#topContainer {
    background-image: url(images/BlackSand.jpg); 
    height: 100%;
}
.parallax {

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 8%;
    padding-left: 8%;
  }
#topBody {
    text-align: left;
    position: relative;
    width: 100%;
    height: 100%;
    
}
#myName {
   
    font-weight: 400;
    font-size: 190px;
    color: #FFFFFF;
    margin-bottom: -5px;
    margin-left: -17px;
    margin-top: 30px;
}
#nameDiscription {
    /* width: fit-content; */
    font-size: 27px;
    width: 65%;
}
.myArrow {
    width: 100%;
    text-align: left;
    padding-top: 60px;
    padding-bottom: 120px;

}
.projectBlack{
    display: inline-flex;
    padding-top: 20%;
}
.projectPic{
    display: inline-flex;
    background-color: rgba(0,0,0, 0.8); 
    border: 3px solid #f1f1f1;
    padding: 20px;
    margin-top: 15%;
}
.projectLeft {
    width: 50%;
    margin-right: 120px;
}
.projectTitle {
    display: inline-flex;
    font-size: 27px;
    color: #FFFFFF;
}
 .number {
    padding-right: 5px;
} 
.projectDescription {
    margin-top: 20px;
    margin-bottom: 35px;
    line-height: 21px;

}
.myButton {
	background-color:transparent;
	border-radius:4px;
	border:2px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #080608;
}
.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	position:relative;
	top:1px;
}
#secondProject {
    background-image: url(images/City.jpg);
    height: 95%;
    
}
#fourthProject {
    background-image: url(images/Mountain.jpg);
    height: 95%;
}

#contactBody{
    width: 100%;
    font-weight: 300;
    font-size: 47px;
    padding-left: 8%;
    padding-top: 6%;
    padding-bottom: 6%;
}
.contactTitle{
    font-size: 47px;
    color: #ffffff;
}


  

